Enabled: yes
Types: deb
URIs: https://pkgs.zabbly.com/incus/stable
Suites: {{ ansible_lsb.codename | default(ansible_distribution_release | lower) }}
Components: main
Architectures: {{ lookup('pipe', 'dpkg --print-architecture') }}
Signed-By: /etc/apt/keyrings/zabbly.asc
